@import '../../node_modules/normalize.css/normalize.css';
@import '../../node_modules/bulma/sass/utilities/initial-variables.sass';

// colors variables
$bahama-blue: rgb(22,73,112);
$deep-sky-blue: rgb(36,140,204);
$picton-blue: rgb(104,178,229);
$apache: rgb(203,160,83);
$orange: rgb(233,86,70);
$oslo-grey: rgb(135,147,148);
$bleached-cedar: rgb(76,76,76);
$dark-grey: rgb(51,51,51);

// type variables
@import url('https://fonts.googleapis.com/css?family=Montserrat');
$family-sans-serif: 'Montserrat';

// derived variables
$primary: $deep-sky-blue;
$info: $picton-blue;
$success: $deep-sky-blue;
$warning: $deep-sky-blue;
$danger: $deep-sky-blue;
$dark: $dark-grey;
$text: $bleached-cedar;
$link: $apache;
$gradient: linear-gradient(to right, #164970 0%,#68b2e5 33%,#164970 100%);

$body-background-color: #fff;
$footer-background-color: $dark-grey;

$family-primary: $family-sans-serif;

$navbar-height: 5em;

@import '../../node_modules/bulma/bulma.sass';

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.wrapper {
  flex: 1;
}

.navbar {
  border-bottom: 1px solid $oslo-grey;
}

.navbar-logo {
  margin-right: 1rem;
  vertical-align: middle;
  height: 100%;
  display: inline-block;
}

.navbar-item img {
  max-height: 3rem;
}

.navbar-menu.is-active .navbar-item {
  text-align: center;
}
