@import '../../node_modules/normalize.css/normalize.css';
@import '../../node_modules/bulma/sass/utilities/initial-variables.sass';

// colors variables
$bahama-blue: rgb(22,73,112);
$deep-sky-blue: rgb(36,140,204);
$picton-blue: rgb(104,178,229);
$apache: rgb(203,160,83);
$orange: rgb(233,86,70);
$oslo-grey: rgb(135,147,148);
$bleached-cedar: rgb(76,76,76);
$dark-grey: rgb(51,51,51);

// type variables
@import url('https://fonts.googleapis.com/css?family=Montserrat');
$family-sans-serif: 'Montserrat';

// derived variables
$primary: $deep-sky-blue;
$info: $picton-blue;
$success: $bahama-blue;
$warning: $apache;
$danger: $orange;
$dark: $dark-grey;
$text: $bleached-cedar;
$link: $deep-sky-blue;
$gradient: linear-gradient(to right, #164970 0%,#68b2e5 33%,#164970 100%);

$body-background-color: #fff;
$footer-background-color: $dark-grey;

$family-primary: $family-sans-serif;

$navbar-height: 5em;

@import '../../node_modules/bulma/bulma.sass';

// general
.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.wrapper {
  flex: 1;
}

.separator {
  width: 100%;
  height: 3px;
  background: $gradient;
}

.page-title {
  letter-spacing: 1.4px;
}

// navbar
.navbar {
  border-bottom: 1px solid $oslo-grey;
}

.navbar-dropdown {
}

.navbar-logo {
  margin-right: 1rem;
  height: 100%;
}

.navbar-item img {
  max-height: 3rem;
}

// index page
.footer {
  padding-bottom: 1rem;
}
.solution-link {
  margin-top: 0.3rem;
}

.summary {
  margin: 1.8rem;
}

.summary-text {
  width: 65%;
  display: inline-block;
  font-size: 1.6rem;
  margin-bottom: 1rem;
  line-height: 1.4;
}

.summary-key-points {
  margin: 1.4rem 0;

  span {
    font-weight: 700;
    margin-right: 0.4rem;
    font-size: 1.1rem;
    color: $success;
  }

  .dot {
    position: relative;
    top: -3px;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: $primary;
    display: inline-block;
    margin: 0 2rem;
  }
}

// footer
.footer-contact-details {
  margin-top: 1rem;
}

.address {
  font-style: normal;
}

.footer-navigation {
  margin-top: 1.2rem;
  padding-top: 1rem;
  border-top: 1px solid $oslo-grey;

  ul {
    padding: 0;
    margin: 0;
  }

  li {
    list-style-type: none;
    display: inline;
    margin-left: 0.5rem;
    text-transform: uppercase;
  }

  a:hover {
    color: $picton-blue;
  }
}

// about
.about-title {
  margin-left: 2rem;
  h1 {
    line-height: 1.8;
  }
}

.about-description {
  margin-left: 2rem;
}

.about-logo {
  height: 6rem;
}

.about-summary {
  margin-top: 2rem;
}

.about-facts {
  border-right: 1px solid $apache;
}

// microgrids
.microgrids-hero {
  text-align: center;
  background-image: linear-gradient(rgba(25,25,25,0.4), rgba(25,25,25,0.4)), url('../assets/img/boat-2345242_1280.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  &::before, &::after {
    content: '';
    background: $gradient;
    height: 4px;
  }
}

.microgrid-boxes {
  margin-top: -2rem;
  margin-bottom: 1rem;
  text-align: center;
  width: 100%;
}

.microgrid-box {
  display: inline-block;
  border: 3px solid white;
  max-width: 128px;
  width: 15%;
  border-radius: 8px;
  background: $info;
  padding: 1%;
  margin-right: 1%;
  transition: all .3s ease-out;
  &:hover {
    background: $primary;
  }

  img {
    margin: 2px auto;
    width: 80%;
  }

  span {
    color: white;
    margin: 0;
    padding-top: 2px;
  }
}

.microgrids-intro {
  width: 80%;
  margin: 0 auto;
}

.feature-cards {
  margin: 1rem;
}

.feature-card {
  text-align: center;
}

.feature-card-title {
  color: $primary;
  text-transform: uppercase;
}

.feature-card-separator {
  width: 50%;
  margin: 1rem auto;
  display: block;
  height: 1px;
  background: $apache;
}
