@import '../../node_modules/normalize.css/normalize.css';
@import '../../node_modules/bulma/sass/utilities/initial-variables.sass';

// colors variables
$bahama-blue: rgb(22,73,112);
$deep-sky-blue: rgb(36,140,204);
$picton-blue: rgb(104,178,229);
$apache: rgb(203,160,83);
$orange: rgb(233,86,70);
$oslo-grey: rgb(135,147,148);
$bleached-cedar: rgb(76,76,76);
$dark-grey: rgb(51,51,51);

// type variables
@import url('https://fonts.googleapis.com/css?family=Montserrat');
$family-sans-serif: 'Montserrat';

// derived variables
$primary: $deep-sky-blue;
$info: $picton-blue;
$success: $deep-sky-blue;
$warning: $deep-sky-blue;
$danger: $deep-sky-blue;
$dark: $dark-grey;
$text: $bleached-cedar;
$link: $apache;

$body-background-color: #fff;

$family-primary: $family-sans-serif;

@import '../../node_modules/bulma/bulma.sass';

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.wrapper {
  flex: 1;
}
